# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual envs
.env
.venv
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Data / outputs
data/
*.csv
*.tsv
*.xlsx
*.zip

# OS / tooling
.DS_Store
Thumbs.db

# VSCode / IDE
.vscode/
.idea/


tmp/
